<footer class="l-footer">
    <div class="l-footer__box">
        <form action="./" method="post" class="c-coms">
            <label for="newsletter" class="c-coms__label">Objednat Newsletter</label>
            <div class="c-coms__box">
                <input type="email" class="c-coms__input" placeholder="Email" name="newsletter">
                <button class="c-coms__button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </button>
            </div>
        </form>
        <a class="e-toggle-cheat" href="/docs/Newsletter_process.html">
            Otevřít Cheat Sheet
        </a>
    </div>
    <div class="l-footer__box">
        <form action="./" method="post" class="c-coms">
            <label for="text_in" class="c-coms__label">Napsat Zprávu</label>
            <div class="c-coms__box">
                <input type="hidden" name="action" value="message">
                <textarea name="text_in" id="text_in" cols="30" rows="10" placeholder="Vaše zpráva..." class="c-coms__textarea"></textarea>
                <button class="c-coms__button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>

</footer>

<div class="l-signature">
    <p>&copy; Daniel Kyndl, <?=date("Y")?></p>
</div>