<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Maturitní práce z Informatiky - SQL injection a rozbor útoků">
<meta author="Daniel Kyndl">

<link rel="stylesheet" href="/src/css/main.css">