<?php

$admin = False;
if ((isset($_SESSION['user_id'])) && ($_SESSION['user_id'] != '')) {

    // Vzhledem k tomu, že jsem v require věci, můžu si to dovolit. I když tady s největší pravděpodobností dám htaccess,
    // je to stejně nejbezpečnější možnost. A zároven tady v html člověk nemusí řešit nějakýho čmuchala, co by sem přišel
    // a uviděl pentiliardu errorů

    $admin = True;

}

?>

<button class="c-arrow c-arrow--fix_c_l js-nav">
	>
</button>

<div class="e-nav e-nav--asleep">
	<div class="e-nav__body">
		<h2 class="e-nav__link e-nav__link--headline">Navigace</h2>

        <a href="/categories/teorie-sql-injection/" class="e-nav__link">Teorie SQL Injection</a>
        <a href="/categories/praxe-sql-injection/" class="e-nav__link">Praxe SQL Injection</a>

		<a href="/categories/Stats/Calculate/" class="e-nav__link">Statistická aplikace</a>
		<a href="/categories/Stats/Insert/" class="e-nav__link">Přidání statistiky</a>
        <a href="/" class="e-nav__link">Login</a>
        <div class="e-nav__separate"></div>
        <?php 
            if (!$admin) {
                ?>
                <p class="e-nav__link e-nav__link--disabled">Administrace</p>
                <?php
            }
            else {
                ?>
                <a href="/admin/" class="e-nav__link">Administrace</a>
                <a href="/admin/controller/" class="e-nav__link">Správa uživatelů</a>
                <a href="/admin/password_change/" class="e-nav__link">Změna hesla</a>
                <div class="e-nav__separate"></div>
                <form action="/core/h-logout.php" method="get" id="logout" class="e-nav__logout">
                    <button class="e-nav__link e-nav__link--debutonize" type="submit" role="submit">Odhlásit</button>
                    <input type="hidden" name="symbol" value="logout">
                </form>
                <?php
            }
        ?>

	</div>
</div>
