<nav class="e-navbar e-navbar--no-mb e-navbar--article js-navbar-172">

    <div class="e-navbar__mobile">
        <h3 class="e-navbar__headline">
            <?= $title ?>
        </h3>
        <button class="c-button e-navbar__button e-navbar__mobile_control">
            <img src="/src/svg/list.svg" alt="Ikona seznamu" width="16" height="16">
        </button>
    </div>

        <!--Obsah generován JS, najde všechny kotvy s id-->
</nav>