.o-article {

    $self: &;

    width: 90%;
    margin: 32px auto;

    background-color: white;

    @include f-c-s-c;

    font-family: Arial, Helvetica, sans-serif;

    box-shadow: 4px 4px 16px rgba(0, 0, 0, .4);

    &__name {

        width: 100%;
        height: 140px;

        @include f-c-c-all;

        text-align: center;
        color: white;
        background-color: $primary;

        & > h1 {

            border-bottom: 3px solid white;

        }

    }

    &__body {

        padding: 24px;
        width: 100%;

    }

    &__headline {

        width: 100%;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: justify;

        padding: 3px 0;
        border-bottom: 3px solid $primary;
        margin: 32px 0;

    }

    &__h2 {
        @extend #{$self}__headline;
        border-bottom: none;
        font-size: 18px;
        padding-left: .5em;
        line-height: 1em;
    }

    &__text {

        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: justify;

        & a {

            color: $primary;
            text-decoration: none;

            border: 2px solid transparent;

            transition: border .15s ease-in-out;

            &:hover, &:focus {

                border-bottom: 2px solid $primary;

            }

        }

    }

    &__list > li {

        @extend #{$self}__text;
        text-align: left;

        &::marker {

            content: '>  ';

        }

    }

    &__code {

        width: 100%;
        overflow: auto;

        background-color: lighten(lightgrey, 10%);
        padding: 8px;

    }

    @media (min-width: 576px) {

        width: 80%;

    }

    @media (min-width: 768px) {

        width: 60%;

    }

}