.o-login {

    $self: &;

    width: 90%;

    @include f-c-c-all;

    border-radius: 24px;

    box-shadow: 10px 10px 10px #ccc;
    background-color: white;

    position: relative;

    &__talkie {

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;

        background-color: $primary;
        color: white;

        border-radius: 24px 24px 0 0;

        padding: 14px;
        padding-bottom: 90px;

        text-align: center;

        position: relative;
        width: 100%;
    }

    &__headline {

        padding: 10px 0;

        font-weight: 600;

    }

    &__text {

        line-height: 28px;

        text-align: center;

    }

    &__link {

        &--white{

            color: white;
            text-decoration: none;
            padding-bottom: 3px;
            border-bottom: 2px solid white;

            transition: border-bottom-color .15s ease-in-out, color .15s ease-in-out;

            &:hover, &:focus {

                border-bottom-color: darken(white, 15%);
                color: darken(white, 15%);

            }

        }

    }

    &__form-holder {

    width: 90%;

    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.24);

    position: relative;
    top: -60px;
    z-index: 2;

    padding: 14px;

    border-radius: 6px;

    }

    @media (min-width: 576px) {

        width: 510px;

    }

    &__postscript {

        width: 100%;

        @include f-c-s-c;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;

        position: relative;
        bottom: 20px;

        & > p{

            width: 80%;

        }

        & p + p {

            padding-top: 8px;

        }

    }

}