<div class="o-article">
    <div class="o-article__name">
        Praxe SQL Injection
    </div>
    <div class="o-article__body">

        <p class="o-article__text">
            V rámci praktické části své práce jsem zpracoval funkční testovací rozhraní pro simulaci SQLi útoků. Rozhraní bylo vytvořeno k alespoň přibližné imitaci reálných webových stránek – a to jak vizuální, tak kódové. Vytvořil jsem ukázky jak zabezpečených, tak nezabezpečených řešení. Celkově jsou v práci 3 místa, která v sobě mají zabudovatelnou vypínatelnou chybu. Na těchto chybách bych rád demonstroval rizika a nebezpečí SQLi.
        </p>

        <div class="anchor" id="o-rozhrani"></div>
        <h1 class="o-article__headline">O rozhraní</h1>
        <p class="o-article__text">
            Rozhraní je psáno primárně s využitím technologií HTML, SCSS a JavaScript pro front-end, back-end pak běží na PHP. Jako databázi využívám MySQL. V práci lze také nalézt přepínač mezi bezpečnými a nebezpečnými variantami kódu, tento přepínač je napsaný v Pythonu, stejně jako některé další konfigurační soubory. Rozhraní je uzpůsobené ke krátké prezentaci o dvou částech. První část by měla za cíl jednoduše se dostat do administrátorské sekce a zde získat uživatelská hesla. Druhá část má pak velmi otevřenou formu, na „přihlášení se k newsletteru“ je možné předvést většinu typů SQL injection. Zde je pak cílem ovládnout databázi. Nachází se zde rovněž statistická aplikace, která je ale pro potřeby práce irelevantní, vznikla pouze přidružením vedlejšího projektu za účelem rozšíření vizuální velikosti stránky. Z hlediska kódu je celý web psaný, jako by byl napojený na systém správy obsahu (CMS). Takto je to napsané opět z důvodu zvýšení přehlednosti a realističnosti kódu. V následujících kapitolách se pokusím popsat jednotlivé bezpečnostní chyby, které se dají zneužít a prezentuji zároveň jejich možná řešení.

        </p>

        <div class="anchor" id="login"></div>
        <h1 class="o-article__headline">Login</h1>
        <p class="o-article__text">
            První částí práce je login. Zde bych chtěl demonstrovat základní principy SQL a s tím související injekce. Problém spočívá v tom, že neexistuje žádné zabezpečení vstupního pole. Z toho důvodu je velmi snadné dostat se dovnitř. V tomto případě by se dalo velmi jednoduše začít zkoušet error-based injections, vzhledem k tomu, že i pokročilejší chyby se tisknou přímo na stránku. Již při testování bychom se ale velmi rychle dostali k tomu, že nás login stránka pustí dál.
        </p>
        <p class="o-article__text">
            Správná varianta by byla ošetření i posledního vstupního pole, tedy emailu. To by se dalo provést velmi podobným principem, jako funguje heslo, nebo i jednodušeji, pomocí obyčejného vložení htmlspecialchars() funkce, nebo použití prepared statement struktury
        </p>


        <div class="anchor" id="sprava-uzivatelu"></div>
        <h1 class="o-article__headline">Správa uživatelů</h1>
        <p class="o-article__text">
            V rozhraní správce dále nalezneme i sekci se změnou hesla. Zde se nachází druhá bezpečnostní chyba. Můžeme opět vyzkoušet slepé testování, pomocí jednodušších příkazů si udělat představu, jak funguje mechanismus za změnou hesla. Tímto přístupem můžeme nakonec dojít k závěru, že se zde zřejmě vyskytuje podobná chyba jako u uživatelského přihlášení. Můžeme tedy opět zmanipulovat UPDATE příkaz k tomu, aby například prohodil v dané tabulce sloupeček s emaily a uživatelskými hesly.

        </p>


        <div class="anchor" id="newsletter"></div>
        <h1 class="o-article__headline">Newsletter</h1>
        <p class="o-article__text">
            Poslední bezpečnostní chybou je pak Newsletter. Zde bych chtěl ukázat i princip time-based SQL injection a uvést problematiku blind SQLi. Tato konkrétní ukázka je ale perfektním příkladem pole zneužitelného pro Union-based SQLi. V principu funguje velmi podobně jako první dvě, ovšem její umístění v Newsletteru je speciálně cíleno na poměrně reálnou simulaci SQLi útoku, kdy útočník de facto převezme kontrolu nad celou databází, je schopen z ní mazat i do ní přidávat data. Tento případ je již o něco složitější, předpokládáme, že útočník nezná strukturu databáze a jednotlivá jména tabulek, je tedy třeba si vhodným volením příkazů získat potřebné informace. 

        </p>

    </div>
</div>