<div class="o-article">
    <div class="o-article__name">
        <h1>Teorie SQL Injection</h1>
    </div>
    <div class="o-article__body">
        <div class="anchor" id="proc-clanek"></div>
        <h1 class="o-article__headline">Proč článek?</h1>
        <p class="o-article__text">
            Článek tady je proto, aby ilustroval rozsáhlost nějaké produkční stránky. Na konci tohoto článku jsou
            dvě inputová pole, která jsou zmanipulovatelná, každé trochu jiným způsobem. Ještě se rozmyslím jaké
            kterým, jestli využiju XSS attack a klasickou SQLInjection, nebo nějakou variaci. Pak to sem (snad)
            nezapomenu napsat. A proč je vlastně potřeba takhle rozáhlá stránka, aby se ukázalo něco podobného? To
            je jednoduché. Chci ukázat to, že stačí jednou jedinkrát zapomenout 30x překontrolovat bezpečnost a ta
            chyba na tom serveru prostě bude. A jakmile je na serveru byť jen někde nějaká takováhle chyba, máme
            tady potenciální bezpečnostní problém. Ovšem co to v našem případě znamená bezpečnostní problém? A jak
            tomu předejít? Všechno tady v tomto článku rozepíšu.
        </p>
        <div class="anchor" id="statistika"></div>
        <h1 class="o-article__headline">
            Statistika
        </h1>
        <p class="o-article__text">
            Rád bych na počátku této práce prezentoval určitá data ohledně SQL injection, reálném využití a hrozbách, které s sebou přináší. 
            <ul class="o-article__list">
                <li>            
                    SQL injection se jako možný problém začíná objevovat již v roce 1998. Jako jeden z prvních na potenciální problém upozorňuje tehdejší specializovaný server Phrack Magazine.
                </li>
                <li>
                    Velmi rychle se tento způsob útoku uchytil, odborné servery před ním opakovaně varovaly.
                </li>
                <li>
                    Podle některých průzkumů stojí SQL injection téměř až za dvěma třetinami útoků na databáze. Toto číslo navíc neustále roste. Na seznamech Open Web Application Security Project se SQLi stále umisťuje na předních pozicích.
                </li>
                <li>
                    Opatření proti SQLi jsou přitom známá již řadu let
                </li>
            </ul>            
        </p>
        <div class="anchor" id="definice-sqli"></div>
        <h1 class="o-article__headline">
            Definice SQLi
        </h1>
        <p class="o-article__text">
            SQL Injection vlastně znamená narušení SQL skriptu útočníkem nadefinovanou syntaxí. Kromě toho, že je tento typ útoku stále i po více než 20 letech velmi rozšířený, je také velmi jednoduchý. Získání prakticky všech dat a zničení celé databáze pak v extrémních případech může trvat pouze řádově minuty.
        </p>
        <p class="o-article__text">
            SQL injection nevyužívá žádnou nativní chybu PHP, nebo SQL, ani žádné jiné technologie, ale typicky chybu v kódu. Celá problematika pak spočívá v tom, že ve své podstatě stačí jedna jediná nepřesnost a stránka je potenciálně náchylná k útokům. Navíc rozpoznávání podobných chyb je časově velmi náročné, vzhledem k tomu, že existuje pouze omezené množství nástrojů pro testování. Platí tedy teze, že chybu je velmi lehké vyrobit, ale často složité najít. Jak bylo zmíněno v předcházející kapitole, tak i když by neměla, je SQLi stále jedna z nejčastějších hrozeb na internetu. 
        </p>
        <p class="o-article__text">
            Velké společnosti, jako třeba Microsoft, nebo Google, často nabízí odměny (řádově statisíce korun) za to, když někdo podobnou „bezpečnostní díru“ objeví a dá o ní té dané společnosti vědět (místo toho, aby tuto informaci prodal pirátům / hackerům).
        </p>
        <div class="anchor" id="princip-utoku"></div>
        <h1 class="o-article__headline">
            Princip útoku
        </h1>
        <p class="o-article__text">Asi nejjednodušší (ale přesto ilustrativní) příklad SQL Injection si můžeme představit skrz inputové pole v nějakém formuláři. Chyba, které využíváme při útoku, typicky spočívá v absenci nějakého čistícího opatření. Kód, který tedy zadáme do řádky, se pak typicky spustí i na serveru a aktivně ovlivní programy pracující s databází. Postup útoku bude pak typicky následující: </p>
        <ul class="o-article__list">
            <li>Vyzkoušení, zda lze SQL útok provést</li>
            <li>Zjištění typu databáze, na kterou útočíme</li>
            <li>Zjištění struktury databáze, všech tabulek a řídících prvků</li>
            <li>Provedení samotného útoku - Napsání dotazu na data</li>
        </ul>
        <p class="o-article__text">Riziko tohoto útoku, jak bychom si mohli domyslet, nespočívá jen v tom, že si útočník může s minimem úsilí stáhnout hesla všech uživatelů, ale také v tom, že může klidně zkopírovat a smazat část databáze a za její navrácení může vymáhat výkupné.</p>

        <h2 class="o-article__h2">
            Teoretický rozbor
        </h2>
        <p class="o-article__text">
            Na obrázku 1 je poměrně dobře viditelné, v čem spočívá hlavní riziko SQLi. SQL, jakožto databázový jazyk, používá pouze hodnoty proměnných z PHP, nijak je neošetřuje ani nečistí. Pokud je dotaz špatně napsán, jako tomu je například zde, není problém napsat vstupní hodnotu tak, aby se například předčasně ukončily uvozovky útočník se mohl bez problémů přihlásit. Tato mechanika je použita i v praktické části.
        </p>

        <pre class="o-article__code"><code>// Dejme tomu, že si nastavíme proměnné jako...

<span class="c-orange">
    $users = "Jenda";
    $password = "123456";
</span>

<span class="c-green">// A následně je nějaké PHP dosadí do SQL Statementu... Já použiji příklad PDO syntaxe</span>
<span class="c-orange">
$statement = $pdo->query("SELECT * FROM table WHERE users = '$user' AND password = '$password");
if($statement->fetch(PDO::FETCH_ASSOC)){ 
    <span class="c-green">// Když najdu nějakého usera, který tuhle podmínku splňuje</span>

    login();

}</span><span class="c-green">
    /* No jo, ale problém téhle syntaxe je ten, že PHP vlastně jen rozbalí svůj obsah do SQL, které ho provede.
    --> Neprovádí se tedy příkaz
</span>
<span class="c-red">"SELECT * FROM table WHERE users = '$user' AND password = '$password",</span>
<span class="c-green">ale doslova tohle...</span>
<span class="c-red">"SELECT * FROM table WHERE users = 'Jenda' AND password = '123456'"</span>
<span class="c-green">
    --> Proč je tohle problém?
    Protože tam taky nemusí být Jenda, ale třeba '-- (ukončení uvozovek a komentář)
    */
</span>
</code></pre>
        <p class="o-article__text">
            Na předcházejícím polo-produkčním příkladu je poměrně dobře vysvětleno, v čem spočívá hlavní problém SQLInjection.
            SQL, jakožto databázový jazyk, používá pouze kompilované proměnné z PHP souboru, samo s nimi neumí pracovat.
            Pokud je tedy query špatně napsaná, respektive vstupy nedostatečně ošetřené, kdokoli si může přikaz upravit
            podle svých vlastních zájmů a priorit. Což je z pochopitelných důvodů... špatně.
        </p>
        <div class="anchor" id="typy-sql-injection"></div>
        <h1 class="o-article__headline">
            Typy SQL injection
        </h1>
        <p class="o-article__text">
            Rozlišujeme 3 základní typy SQL Injection:
            
        </p>


        <div class="anchor" id="druhy-sqli"></div>
        <h1 class="o-article__headline">
            Druhy SQLi
        </h1>
        <p class="o-article__text">
            V rámci SQL injection útoků se začaly postupem času rozlišovat 3 hlavní typy útoků.
        </p>

        <h2 class="o-article__h2">
            In-band SQLi
        </h2>
        <p class="o-article__text">
            Jedná se o nejčastější riziko z SQLi. Tuto kategorii můžeme rozdělit ještě na další dva podtypy útoků, konkrétně na Error-based SQLi a Union-Based SQLi. In-band SQLi útoky jsou zároveň těmi úplně nejjednoduššími. Útočník v nich typicky využívá stejného kanálu pro zadávání škodlivého kódu i získávání informací.
        </p>

        <ul class="o-article__list">
            <li>            
                Error-based SQLi, v překladu injekce založená na chybách, spočívá ve vynucování si chybových hlášek z databáze. I jen tyto chybové hlášky obvykle nesou dostatek informací, aby podle nich byl útočník schopen porozumět struktuře databáze. Útočník pak využívá získané chybové hlášky k postupnému zpřesňování útoku. Menší a jednodušší verze error-based útoku se nachází i v praktické části mé práce.
            </li>
            <li>
                Union-Based SQLi, v překladu injekce založená na SQL příkazu UNION, je zdaleka nejběžnějším typem injekce. Tato práce se na tento typ útoku rovněž zaměřuje. Union-based SQLi volně vychází z error-based varianty. V injektovaných příkazech bude hrát klíčovou roli zpravidla slovo UNION. UNION funguje v podstatě jako matematické sjednocení dvou množin, v tomto případě sjednocení množin dvou různých výsledků. Bude se tedy jednat o vložení příkazu UNION do příkazu SELECT. To nám umožní získat další data i z jiných tabulek, než je primárním cílem. 
            </li>

        </ul>


        <h2 class="o-article__h2">
            Inferential SQLi / Blind SQL injection
        </h2>
        <p class="o-article__text">
            Jedná se o poměrně náročnější a složitější typ útoku, kdy útočník kvůli nedostatku vizuální evidence dlouho v podstatě neví, co dělá. Místo toho musí rekonstruovat databázi dílek po dílku, sleduje hlavně chování aplikace a například délku odpovědí. I tato podkategorie se dělí na dva typy.
        </p>

        <ul class="o-article__list">
            <li>            
                Boolean-based SQLi spočívá v posílání požadavků vynucující si různé odpovědi podle toho, jestli injektovaný kód dohromady vrací TRUE, nebo FALSE hodnotu. Podle výsledku se obsah v HTTP odpovědi může různě měnit. Tento útok obvykle trvá velmi dlouho vzhledem k tomu, že útočník musí projít a odkrývat databázi de facto znak po znaku
            </li>
            <li>
                Time-based SQLi, nebo česky injekce založená na čase, funguje na stejném principu jako boolean-based alternativa. Místo true / false odpovědí, které typicky vyžadují změnu nějakého prvku na stránce nebo HTTP odpovědi, boolean-based SQLi pracuje  s časovou prodlevou. Pokud se vyskytne, znamená to, že příkaz někde vyvolal TRUE reakci.
            </li>
        </ul>

        <p class="o-article__text">
            Time-based SQL injection bude naznačeno i v praktické části, ovšem vzhledem k relativní časové náročnosti (a nízké vizuální atraktivitě) se těmto metodám v pokusech prioritně nevěnuji.
        </p>


        <h2 class="o-article__h2">
            Out-of-band SQLi
        </h2>
        <p class="o-article__text">
            Tuto techniku bych chtěl zmínit pouze okrajově, vzhledem k tomu, že je prakticky možná téměř výlučně na vývojových, nebo experimentálních serverech. Při tomto typu útoku nemůžeme typicky spoléhat na jednotné vstupní a výstupní rozhraní, server je navíc příliš nestabilní a časové odezvy jsou tím pádem poměrně nespolehlivé. Útok tak vyžaduje, aby server byl schopen vracet HTTP a DNS požadavky zpět k útočníkovi. 
        </p>

        <div class="anchor" id="prevence"></div>
        <h1 class="o-article__headline">
            Prevence
        </h1>
        <p class="o-article__text">
            Jak již bylo popsáno výše, prevence proti tomuto útoku je poměrně problematická. Ačkoli jsou mechanismy a správné postupy k potlačení této hrozby známé již desítky let, stále se jedná o poměrně velký problém. Jedno zapomenutí na zapadlém koutu internetových stránek tak může bez přehánění stát uživatele webu jejich hesla, nebo klidně i bankovní údaje. Obecně se při ochraně a předcházení problémů s SQLi upřednostňují 2 cesty.
        </p>


        <h2 class="o-article__h2">
            Filtrace vstupů
        </h2>
        <p class="o-article__text">
            Všechny typy SQLi mají společnou jednu vlastnost – pochází ze vstupů. Jednou z možností, která se tedy často implementuje, je čištění (sanitizace) vstupů. Každé vstupní pole každého formuláře je v tomto procesu vyčištěno a problematické znaky bývají zpravidla přeměněny / zakódovány do různých alternativ. Existuje řada filtrovacích funkcí, mezi nejběžnější patří například v PHP filter_var(), řada programátorů si rovněž vymýšlí vlastní filtrovací funkce na bázi kódování zakázaných znaků. Na to ovšem v jazyce PHP existuje i automatizovaná varianta, kterou je funkce <i>htmlspecialchars()</i>.
        </p>

        <h2 class="o-article__h2">
            Prepared statements
        </h2>
        <p class="o-article__text">
            “Připravované” SQL příkazy jsou jednoznačně nejpopulárnější volbou k zajištění bezproblémovosti chodu.  Prepared statements spočívají v tom, že se proměnné získané od uživatele nepropíšou přímo do SQL kódu, ale jsou přiřazovány postupně v několika krocích. To znemožní ovlivnění celého SQL dotazu.
        </p>

        <h2 class="o-article__h2">
            .htaccess a CSP policy
        </h2>
        <p class="o-article__text">
            Účinným doplňkem těchto dvou přístupů je ještě správně nastavený server (například .htaccess) a nově také CSP policy. Obě tyto technologie velmi pomáhají při webové bezpečnosti. .htaccess je nastavovací soubor typický pro servery fungující na architektuře Apache. V rámci něj lze povolit, nebo zakázat řadu věcí, mimo jiné přístupy do jednotlivých částí webových stránek, a podobně. Velmi důležitou součástí se v poslední době stávají rovněž CSP, neboli Content security protocole policy. Pomocí těchto nastavení lze aktivně předcházet Cross side scripting útokům, které se často používají právě v kombinaci s SQL injection. Tato technologie následuje velmi jednoduchý koncept „whitelistingu“, tedy maduálního povolování jednotlivých součástí stránky. Výsledkem je nemožnost například spuštění vlastního javascriptového programu, nebo i obyčejná editace HTML souboru. Velmi záleží také na vlastním nastavení
        </p>


    </div>
</div>
