@mixin f-r-c-all {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin f-c-c-all {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@mixin f-r-s-c {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

@mixin f-c-s-c {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

@mixin f-r-e-c {

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}

@mixin f-c-e-c {

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

}