.c-arrow {

    background-color: $primary;
    color: white;

    padding: 6px 8px;
    border: 1px solid black;
    border-radius: 0 4px 4px 0;

    cursor: pointer;

    transition: background-color .15s ease-in-out;

    &:hover, &:focus {

        background-color: darken($primary, 15%);

    }

    &--fix_c_l {

        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        z-index: 10;

    }

}

.js-nav {

    transition: left .3s ease-in-out;

    &--active {

        left: 60%;

        @media (min-width: 768px) {

            left: 40%;

        }

    }

}