.c-button {

    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 4px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;

    transition: background-color .15s ease-in-out;

    &--delink {

        text-decoration: none;

    }

    &--submit {

        background-color: $primary;

        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;

        width: 100%;
        border-radius: 24px;

        cursor: pointer;

        margin-top: 10px;

        transition: background-color .15s ease-in-out;

        &:hover, &:focus {

            background-color: darken($light, 15%);

        }

    }

    &--primary {

        background-color: $primary;
        color: white;

        &:hover, &:focus {

            background-color: darken($primary, 20%);

        }

    }

    &--danger {

        background-color: $danger;
        color: white;

        &:hover, &:focus {

            background-color: darken($danger, 20%);

        }

    }

    &--m-16 {

        margin: 16px;

    }

    &--success {

        background-color: $success;
        color: white;

        &:hover, &:focus {

            background-color: $success-light;

        }

    }

    &--mb {

        margin-bottom: 20px;

    }

    &---mt {

        margin-top: -30px;

    }

    &--intable {

        height: 100%;
        @include f-c-c-all;
        color: white;

        margin-right: 0;

        & img {
            color: white;
        }
    }

}