.c-coms {

    $self: &;

    width: 300px;

    @media (min-width: 576px) {

        width: 350px;

    }

    &__label {

        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        line-height: 25px;

    }

    &__box {

        @include f-r-c-all;

    }

    &__input {

        width: 246px;
        height: 32px;
        
        padding: 7px 14px;

        background-color: #EFEFEF;
        box-shadow: 0px 5px 6px 1px #0000001A;

        outline: none;
        border: 1px solid #000000BF;
        border-radius: 5px 0 0 5px;

        @media (min-width: 576px) {

            width: 346px;

        }

    }

    &__button {

        height: 32px;
        width: 48px;

        color: white;

        background-color: $primary;
        box-shadow: 0px 5px 8px 1px #0000001A;

        outline: none;
        border: 1px solid #000000;
        border-radius: 0 5px 5px 0;

        padding: 0;
        margin-left: 6px;

        cursor: pointer;

        @include f-c-c-all;

        transition: background-color .15s ease-in-out;

        & > svg {

            height: 24px;
            width: 24px;

            position: relative;
            left: -2px;

        }

        &:hover, &:focus {

            background-color: darken($primary, 20%);

        }

    }

    &__textarea {

        @extend #{$self}__input;
        height: 70px;
        padding: 10px 14px;

        resize: none;

        font-family: Arial, Helvetica, sans-serif;

        & + #{$self}__button {

            height: 70px;

            & > svg {

                width: 32px;
                height: 32px;

                left: -4px; 

            }

        }

    }

}