.c-headline {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;

    padding: 1em;
    margin-bottom: 1em;

    &--no-mb {

        margin-bottom: 0;
        padding-bottom: .5em;

    }

}