.c-text {

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &--highlight {

        background-color: rgb(165, 72, 72);
        color: white;

        padding: 2px 4px;

        border-radius: 4px;


    }

    &--mb {

        margin-bottom: 1em;

    }

    &--centered {

        text-align: center;

    }

    &--px {

        padding-left: 16px;
        padding-right: 16px;

        text-align: center;

    }

}