.e-card {

    width: 90%;

    border: 1px solid $primary;
    border-radius: 8px;
    margin: 20px auto;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &__headline {

        padding: 10px 12px;
        background-color: $primary;
        border-radius: 8px 8px 0 0;


        color: white;
        font-size: 16px;

    }

    &__body {

        background-color: white;
        border-radius: 0 0 8px 8px;

        padding: 20px 10px;

        &--fix-height {

            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 200px;

            overflow: auto;

        }

        &--jc-start {

            justify-content: flex-start;

        }

    }

    &__iframe {

        width: 100%;
        height: 100%;

        border: 1px solid $light;
        border-radius: 10px;

    }

    &__link {

        color: $primary;
        text-decoration: none;
        text-align: center;

        border-bottom: 2px solid transparent;
        margin-top: 20px;

        transition: border-bottom-color .15s ease-in-out;

        &:focus, &:hover {

            border-bottom-color: $primary;

        }

    }

}