.e-cheats {

    margin-top: 32px;
    padding: 16px;

    background-color: white;
    border-left: 2px solid black;

    &--offset-l {

        position: relative;
        left: -25%;

    }

}

.e-toggle-cheat {

    margin-top: 16px;

}