.e-error {

    min-width: 300px;
    min-height: 50px;

    position: fixed;
    bottom: 40px;
    right: 0;

    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    z-index: 10;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    transition: transform .15s ease-in-out;

    &__line {

        @include f-r-s-c;
        padding: 6px 10px;

        &:first-child {

            font-weight: 600;

        }

    }

    &__icon {

        margin-right: 8px;
        padding: 1px 0;

    }

    &--danger {

        background-color: #dc3545;
        color: white;

    }

    &--success {

        background-color: #28a745;
        color: white;

    }

}