.e-form {

    $self: &;

    @include f-c-s-c;

    &__input {

        width: 90%;
        box-shadow: 10px 10px 10px rgb(204, 204, 204);

        border: 2px solid $light;
        outline: none;
        border-radius: 6px;

        padding: 8px;

        margin-bottom: 20px;

        transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;

        &--textarea {

            height: 100px;

        }

        &--ml-only {

            margin-bottom: 0;
            margin-left: 20px;

        }

        &:hover, &:focus {

            border-color: darken($light, 15%);
            box-shadow: 10px 10px 10px rgb(170, 190, 210);

        }

    }

    &__label {

        max-width: 90%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-bottom: 2px; 

    }

    &__row {

        display: flex;
        flex-direction: column;

        padding: 10px;

        width: 100%;
        height: 100%;

    }

    &__column {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & button {

            margin-top: 0;

        }

        & + & {

            margin-top: 20px;

        }

    }

    @media (min-width: 576px) {

        &__row {

            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

        }

        &__column {

            & + & {

                margin-top: 0;

            }

        }

    }

    &--mb-0 {

        margin-bottom: 0;

    }

}