.e-nav {

    $self: &;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.3);

    z-index: 5;

    transition: background-color .15s ease-in-out;

    &--asleep {

        display: none;
        background-color: transparent;

        & #{$self}__body {

            width: 0;

        }

    }

    &__body {

        width: 60%;
        height: 100%;

        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;

        transition: width .3s ease-in-out;

        @media (min-width: 768px) {

            width: 40%;

        }

    }

    &__link {

        width: calc(100% - 40px);

        opacity: 0; //Changed in nav.js in process

        color: $primary;
        text-decoration: none;

        line-height: 22px;
        font-size: 16px;

        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        padding: 0px 12px;
        border: none;
        border-bottom: 1px solid transparent;
        margin: 4px 20px;

        transition: border-color .15s ease-in-out, opacity .1s ease-in-out;

        &:hover, &:focus {

            border-color: $primary;

        }

        &--headline {

            margin-bottom: 16px;
            color: black;

            &:hover, &:focus {

                border-color: transparent;

            }

        }

        &--active {

            &::after {

                content: '//Aktuální stránka';
                position: relative;

                margin-left: 32px;

                color: rgba(0, 0, 0, .7);
                font-style: italic;
                font-size: 12px;

            }

        }

        &--disabled {

            color: rgba(0, 0, 0, .7);
            cursor: default;

            &:hover, &:focus {

                border-color: transparent;

            }

            &::after {

                content: '//Nedostupná stránka';
                position: relative;

                margin-left: 32px;

                color: rgba(0, 0, 0, .7);
                font-style: italic;
                font-size: 12px;

            }

        }

        &--debutonize {

            background-color: transparent;
            outline: none;

            text-align: left;
            cursor: pointer;

        }

    }

    &__separate {

        width: 100%;
        height: 10px;
        
    }

}