.e-navbar {

    $self: &;

    width: 100%;
    height: 70px;

    position: sticky;
    top:0;
    left: 0;

    background-color: white;

    @include f-c-s-c;

    padding: 8px;
    margin-bottom: 8px;

    font-family: Arial, Helvetica, sans-serif;

    transition: height .15s ease-in-out,
                background-color .15s ease-in-out,
                color .15s ease-in-out;

    z-index: 20;

    @media (min-width: 992px) {

        @include f-r-s-c;

    }


    &__mobile {

        width: 100%;

        padding: 9px 9px 8px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        border-bottom: 1px solid transparent;

        transition: border-bottom .15s ease-in-out;

        @media(min-width: 992px) {

            display: none;

        }

    }

    &__link {

        display: none;
        height: 0;
        padding: 0;

        opacity: 0;

        text-decoration: none;

        &--active {

            display: block;

            width: 100%;
            height: auto;

            padding: 9px 9px 7px;
            border-bottom: 2px solid transparent;

            color: $primary;

            transition: border-bottom-color .15s ease-in-out,
                        height .15s ease-in-out,
                        opacity .15s ease-in-out;

            &:first-of-type {

                padding-top: 18px;

            }

            &:hover, &:focus, &--selected {

                border-bottom-color: $primary;

            }

        }

        @media (min-width: 992px) {

            display: block;

            font-size: 17px;
            line-height: 21px;

            height: auto;
            padding: .3em 0 calc(.3em - 2px);
            margin: .2em .9em;

            opacity: 1;
            color: $primary;

            border-bottom: 2px solid transparent;

            transition: border-bottom-color .15s ease-in-out;

            &:focus, &:hover {

                border-bottom-color: $primary;

            }

        }

    }

    &__headline {

        color: $primary;
        font-weight: 400;

    }

    &__button {

        @include f-c-c-all;

        border: 2px solid grey;

        transition: background-color, .15s ease-in-out, border-color .15s ease-in-out;

        &:hover, &--active {

            background-color: lighten(grey, 40%);

        }

        &:focus {

            border-color: lighten(grey, 20%);

        }

    }

    &--scrolled {

        background-color: $primary;
        color: white;

        & #{$self}__headline {

            color:white;

        }

        & #{$self}__link {

            color: white;

            &:hover, &:focus {

                border-bottom-color: white;

            }

        }

    }

    &--no-mb {
        margin-bottom: 0;
    }

}

.anchor {

    position: relative;
    top: -160px;

    z-index: -10;
    width: 0;
    height: 0; // Bude potřeba udělat jiným způsobem... Ale je potřeba 223px

    @media (min-width: 992px) {

        top: 0;
        bottom: 70px;

    }

}
