.e-table {
    width: 100%;
    border: 1px solid black;

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    & tr {

        &:nth-child(even) {

            background-color: #ddd;

        }

        & td, & th {

            padding: 4px 6px;

        }

    }

    &__td--center {

        text-align: center;

    }

    &__wrapper {

        width: 90%;
        overflow: auto;

    }

    &__input {

        width: 100%;

        padding: 8px 8px;
        border: 1px solid gray;
        outline: none;

    }

    &__centerer {

        @include f-c-c-all;

    }

    &--bigger {

        background-color: white;

        & thead {

            border-bottom: 1px solid black;

        }

        & tr {

            background-color: #eee;

            & td, th {

                padding: 6px 10px;
                text-align: center;
                vertical-align: middle;

            }

        }

    }

    @media (min-width: 1200px) {

        width: 1080px;
        margin: auto;

    }

}