@charset "UTF-8";
.c-coms {
  width: 300px;
}

@media (min-width: 576px) {
  .c-coms {
    width: 350px;
  }
}

.c-coms__label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.c-coms__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-coms__input, .c-coms__textarea {
  width: 246px;
  height: 32px;
  padding: 7px 14px;
  background-color: #EFEFEF;
  -webkit-box-shadow: 0px 5px 6px 1px #0000001A;
          box-shadow: 0px 5px 6px 1px #0000001A;
  outline: none;
  border: 1px solid #000000BF;
  border-radius: 5px 0 0 5px;
}

@media (min-width: 576px) {
  .c-coms__input, .c-coms__textarea {
    width: 346px;
  }
}

.c-coms__button {
  height: 32px;
  width: 48px;
  color: white;
  background-color: #0066ff;
  -webkit-box-shadow: 0px 5px 8px 1px #0000001A;
          box-shadow: 0px 5px 8px 1px #0000001A;
  outline: none;
  border: 1px solid #000000;
  border-radius: 0 5px 5px 0;
  padding: 0;
  margin-left: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.c-coms__button > svg {
  height: 24px;
  width: 24px;
  position: relative;
  left: -2px;
}

.c-coms__button:hover, .c-coms__button:focus {
  background-color: #003d99;
}

.c-coms__textarea {
  height: 70px;
  padding: 10px 14px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.c-coms__textarea + .c-coms__button {
  height: 70px;
}

.c-coms__textarea + .c-coms__button > svg {
  width: 32px;
  height: 32px;
  left: -4px;
}

.c-red {
  color: #dc3545;
}

.c-yellow {
  color: #d49d27;
}

.c-green {
  color: #148314;
}

.c-orange {
  color: #8b6003;
}

.c-button {
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.c-button--delink {
  text-decoration: none;
}

.c-button--submit {
  background-color: #0066ff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  border-radius: 24px;
  cursor: pointer;
  margin-top: 10px;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.c-button--submit:hover, .c-button--submit:focus {
  background-color: #4d94ff;
}

.c-button--primary {
  background-color: #0066ff;
  color: white;
}

.c-button--primary:hover, .c-button--primary:focus {
  background-color: #003d99;
}

.c-button--danger {
  background-color: #dc3545;
  color: white;
}

.c-button--danger:hover, .c-button--danger:focus {
  background-color: #921925;
}

.c-button--m-16 {
  margin: 16px;
}

.c-button--success {
  background-color: #197419;
  color: white;
}

.c-button--success:hover, .c-button--success:focus {
  background-color: #229e22;
}

.c-button--mb {
  margin-bottom: 20px;
}

.c-button---mt {
  margin-top: -30px;
}

.c-button--intable {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-right: 0;
}

.c-button--intable img {
  color: white;
}

.c-headline {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  padding: 1em;
  margin-bottom: 1em;
}

.c-headline--no-mb {
  margin-bottom: 0;
  padding-bottom: .5em;
}

.c-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.c-text--highlight {
  background-color: #a54848;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.c-text--mb {
  margin-bottom: 1em;
}

.c-text--centered {
  text-align: center;
}

.c-text--px {
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.c-arrow {
  background-color: #0066ff;
  color: white;
  padding: 6px 8px;
  border: 1px solid black;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.c-arrow:hover, .c-arrow:focus {
  background-color: #0047b3;
}

.c-arrow--fix_c_l {
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.js-nav {
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}

.js-nav--active {
  left: 60%;
}

@media (min-width: 768px) {
  .js-nav--active {
    left: 40%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100vw;
}

h1, h2, h3, h4, h5, h6, p, a, body, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.l-body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

.l-body--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-body--h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-body--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.l-body--unlimit-height {
  min-height: unset;
  overflow-y: initial;
}

.l-body--font {
  font-family: Arial, Helvetica, sans-serif;
}

.l-body--element {
  padding: 20px;
  text-align: center;
}

.l-body--overflow-y {
  overflow: unset;
  overflow-x: hidden;
  overflow-y: auto;
}

.l-body--card {
  position: relative;
  background-color: white;
}

.l-body--card .l-body__bg_wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  opacity: .2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-body--card .l-body__bg {
  z-index: -10;
}

.l-body--card .l-body__content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  opacity: 1;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.l-header {
  padding: 20px 0;
  margin: 20px;
  width: 90%;
  background-color: #0066ff;
  border-radius: 8px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .l-header {
    width: 1080px;
  }
}

.l-section {
  width: 100%;
  height: 60vh;
  margin-top: 60px;
  background-color: transparent;
  -webkit-box-shadow: 2px 4px 10px grey;
          box-shadow: 2px 4px 10px grey;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

@media (min-width: 768px) {
  .l-section {
    height: 80vh;
  }
}

.l-section__chart {
  width: 317px;
  padding-bottom: 16px;
}

@media (min-width: 576px) {
  .l-section__chart {
    width: 420px;
  }
}

@media (min-width: 768px) {
  .l-section__chart {
    width: 660px;
  }
}

.l-section__bg {
  width: 100%;
  height: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  z-index: -1;
}

.l-section__bg::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 30px);
  background-color: rgba(255, 255, 255, 0.95);
  z-index: -2;
}

.l-section__bg--CMS {
  background-image: url("/src/svg/menu-button-wide.svg");
}

.l-section__bg--admin {
  background-image: url("/src/svg/people.svg");
}

.l-section__bg--chart {
  background-image: url("/src/svg/bar-chart-line.svg");
}

.l-section__bg--key {
  background-image: url("/src/svg//key.svg");
}

.l-section__bg--hourglass {
  background-image: url("/src/svg/hourglass-split.svg");
}

.anchor {
  position: relative;
  top: 0px;
  visibility: hidden;
  z-index: -1;
}

.l-footer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 32px;
}

.l-footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.l-footer__box .l-footer__box + .l-footer__box {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .l-footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-footer__box + .l-footer__box {
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .l-footer {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

.l-signature {
  width: 100%;
  height: 40px;
  background-color: #0066ff;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-100-width {
  width: 100vw;
  height: auto;
  position: relative;
  padding: 50px 0;
  overflow: hidden;
}

.l-100-width--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-2-grid {
  position: absolute;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
}

.l-flex-946 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 946px) {
  .l-flex-946 {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-flex-946 .e-card + .e-card {
    margin-left: 20px;
  }
}

.o-login {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 10px #ccc;
          box-shadow: 10px 10px 10px #ccc;
  background-color: white;
  position: relative;
}

.o-login__talkie {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #0066ff;
  color: white;
  border-radius: 24px 24px 0 0;
  padding: 14px;
  padding-bottom: 90px;
  text-align: center;
  position: relative;
  width: 100%;
}

.o-login__headline {
  padding: 10px 0;
  font-weight: 600;
}

.o-login__text {
  line-height: 28px;
  text-align: center;
}

.o-login__link--white {
  color: white;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid white;
  -webkit-transition: border-bottom-color .15s ease-in-out, color .15s ease-in-out;
  transition: border-bottom-color .15s ease-in-out, color .15s ease-in-out;
}

.o-login__link--white:hover, .o-login__link--white:focus {
  border-bottom-color: #d9d9d9;
  color: #d9d9d9;
}

.o-login__form-holder {
  width: 90%;
  background-color: white;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.24);
  position: relative;
  top: -60px;
  z-index: 2;
  padding: 14px;
  border-radius: 6px;
}

@media (min-width: 576px) {
  .o-login {
    width: 510px;
  }
}

.o-login__postscript {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
  bottom: 20px;
}

.o-login__postscript > p {
  width: 80%;
}

.o-login__postscript p + p {
  padding-top: 8px;
}

.o-article {
  width: 90%;
  margin: 32px auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
}

.o-article__name {
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  background-color: #0066ff;
}

.o-article__name > h1 {
  border-bottom: 3px solid white;
}

.o-article__body {
  padding: 24px;
  width: 100%;
}

.o-article__headline, .o-article__h2 {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: justify;
  padding: 3px 0;
  border-bottom: 3px solid #0066ff;
  margin: 32px 0;
}

.o-article__h2 {
  border-bottom: none;
  font-size: 18px;
  padding-left: .5em;
  line-height: 1em;
}

.o-article__text, .o-article__list > li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: justify;
}

.o-article__text a, .o-article__list > li a {
  color: #0066ff;
  text-decoration: none;
  border: 2px solid transparent;
  -webkit-transition: border .15s ease-in-out;
  transition: border .15s ease-in-out;
}

.o-article__text a:hover, .o-article__list > li a:hover, .o-article__text a:focus, .o-article__list > li a:focus {
  border-bottom: 2px solid #0066ff;
}

.o-article__list > li {
  text-align: left;
}

.o-article__list > li::marker {
  content: '>  ';
}

.o-article__code {
  width: 100%;
  overflow: auto;
  background-color: #ededed;
  padding: 8px;
}

@media (min-width: 576px) {
  .o-article {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .o-article {
    width: 60%;
  }
}

.e-cheats {
  margin-top: 32px;
  padding: 16px;
  background-color: white;
  border-left: 2px solid black;
}

.e-cheats--offset-l {
  position: relative;
  left: -25%;
}

.e-toggle-cheat {
  margin-top: 16px;
}

.e-navbar {
  width: 100%;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  margin-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: height .15s ease-in-out, background-color .15s ease-in-out, color .15s ease-in-out;
  transition: height .15s ease-in-out, background-color .15s ease-in-out, color .15s ease-in-out;
  z-index: 20;
}

@media (min-width: 992px) {
  .e-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.e-navbar__mobile {
  width: 100%;
  padding: 9px 9px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom .15s ease-in-out;
  transition: border-bottom .15s ease-in-out;
}

@media (min-width: 992px) {
  .e-navbar__mobile {
    display: none;
  }
}

.e-navbar__link {
  display: none;
  height: 0;
  padding: 0;
  opacity: 0;
  text-decoration: none;
}

.e-navbar__link--active {
  display: block;
  width: 100%;
  height: auto;
  padding: 9px 9px 7px;
  border-bottom: 2px solid transparent;
  color: #0066ff;
  -webkit-transition: border-bottom-color .15s ease-in-out, height .15s ease-in-out, opacity .15s ease-in-out;
  transition: border-bottom-color .15s ease-in-out, height .15s ease-in-out, opacity .15s ease-in-out;
}

.e-navbar__link--active:first-of-type {
  padding-top: 18px;
}

.e-navbar__link--active:hover, .e-navbar__link--active:focus, .e-navbar__link--active--selected {
  border-bottom-color: #0066ff;
}

@media (min-width: 992px) {
  .e-navbar__link {
    display: block;
    font-size: 17px;
    line-height: 21px;
    height: auto;
    padding: 0.3em 0 calc(.3em - 2px);
    margin: .2em .9em;
    opacity: 1;
    color: #0066ff;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom-color .15s ease-in-out;
    transition: border-bottom-color .15s ease-in-out;
  }
  .e-navbar__link:focus, .e-navbar__link:hover {
    border-bottom-color: #0066ff;
  }
}

.e-navbar__headline {
  color: #0066ff;
  font-weight: 400;
}

.e-navbar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid grey;
  -webkit-transition: background-color, .15s ease-in-out, border-color .15s ease-in-out;
  transition: background-color, .15s ease-in-out, border-color .15s ease-in-out;
}

.e-navbar__button:hover, .e-navbar__button--active {
  background-color: #e6e6e6;
}

.e-navbar__button:focus {
  border-color: #b3b3b3;
}

.e-navbar--scrolled {
  background-color: #0066ff;
  color: white;
}

.e-navbar--scrolled .e-navbar__headline {
  color: white;
}

.e-navbar--scrolled .e-navbar__link {
  color: white;
}

.e-navbar--scrolled .e-navbar__link:hover, .e-navbar--scrolled .e-navbar__link:focus {
  border-bottom-color: white;
}

.e-navbar--no-mb {
  margin-bottom: 0;
}

.anchor {
  position: relative;
  top: -160px;
  z-index: -10;
  width: 0;
  height: 0;
}

@media (min-width: 992px) {
  .anchor {
    top: 0;
    bottom: 70px;
  }
}

.e-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  -webkit-transition: background-color .15s ease-in-out;
  transition: background-color .15s ease-in-out;
}

.e-nav--asleep {
  display: none;
  background-color: transparent;
}

.e-nav--asleep .e-nav__body {
  width: 0;
}

.e-nav__body {
  width: 60%;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

@media (min-width: 768px) {
  .e-nav__body {
    width: 40%;
  }
}

.e-nav__link {
  width: calc(100% - 40px);
  opacity: 0;
  color: #0066ff;
  text-decoration: none;
  line-height: 22px;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0px 12px;
  border: none;
  border-bottom: 1px solid transparent;
  margin: 4px 20px;
  -webkit-transition: border-color .15s ease-in-out, opacity .1s ease-in-out;
  transition: border-color .15s ease-in-out, opacity .1s ease-in-out;
}

.e-nav__link:hover, .e-nav__link:focus {
  border-color: #0066ff;
}

.e-nav__link--headline {
  margin-bottom: 16px;
  color: black;
}

.e-nav__link--headline:hover, .e-nav__link--headline:focus {
  border-color: transparent;
}

.e-nav__link--active::after {
  content: '//Aktuální stránka';
  position: relative;
  margin-left: 32px;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  font-size: 12px;
}

.e-nav__link--disabled {
  color: rgba(0, 0, 0, 0.7);
  cursor: default;
}

.e-nav__link--disabled:hover, .e-nav__link--disabled:focus {
  border-color: transparent;
}

.e-nav__link--disabled::after {
  content: '//Nedostupná stránka';
  position: relative;
  margin-left: 32px;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  font-size: 12px;
}

.e-nav__link--debutonize {
  background-color: transparent;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.e-nav__separate {
  width: 100%;
  height: 10px;
}

.e-error {
  min-width: 300px;
  min-height: 50px;
  position: fixed;
  bottom: 40px;
  right: 0;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.e-error__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 10px;
}

.e-error__line:first-child {
  font-weight: 600;
}

.e-error__icon {
  margin-right: 8px;
  padding: 1px 0;
}

.e-error--danger {
  background-color: #dc3545;
  color: white;
}

.e-error--success {
  background-color: #28a745;
  color: white;
}

.e-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.e-form__input {
  width: 90%;
  -webkit-box-shadow: 10px 10px 10px #cccccc;
          box-shadow: 10px 10px 10px #cccccc;
  border: 2px solid #99c2ff;
  outline: none;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 20px;
  -webkit-transition: background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out;
  transition: box-shadow .15s ease-in-out, background-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.e-form__input--textarea {
  height: 100px;
}

.e-form__input--ml-only {
  margin-bottom: 0;
  margin-left: 20px;
}

.e-form__input:hover, .e-form__input:focus {
  border-color: #4d94ff;
  -webkit-box-shadow: 10px 10px 10px #aabed2;
          box-shadow: 10px 10px 10px #aabed2;
}

.e-form__label {
  max-width: 90%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2px;
}

.e-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.e-form__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.e-form__column button {
  margin-top: 0;
}

.e-form__column + .e-form__column {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .e-form__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .e-form__column + .e-form__column {
    margin-top: 0;
  }
}

.e-form--mb-0 {
  margin-bottom: 0;
}

.e-table {
  width: 100%;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.e-table tr:nth-child(even) {
  background-color: #ddd;
}

.e-table tr td, .e-table tr th {
  padding: 4px 6px;
}

.e-table__td--center {
  text-align: center;
}

.e-table__wrapper {
  width: 90%;
  overflow: auto;
}

.e-table__input {
  width: 100%;
  padding: 8px 8px;
  border: 1px solid gray;
  outline: none;
}

.e-table__centerer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.e-table--bigger {
  background-color: white;
}

.e-table--bigger thead {
  border-bottom: 1px solid black;
}

.e-table--bigger tr {
  background-color: #eee;
}

.e-table--bigger tr td, .e-table--bigger tr th {
  padding: 6px 10px;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 1200px) {
  .e-table {
    width: 1080px;
    margin: auto;
  }
}

.e-card {
  width: 90%;
  border: 1px solid #0066ff;
  border-radius: 8px;
  margin: 20px auto;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.e-card__headline {
  padding: 10px 12px;
  background-color: #0066ff;
  border-radius: 8px 8px 0 0;
  color: white;
  font-size: 16px;
}

.e-card__body {
  background-color: white;
  border-radius: 0 0 8px 8px;
  padding: 20px 10px;
}

.e-card__body--fix-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  overflow: auto;
}

.e-card__body--jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.e-card__iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #99c2ff;
  border-radius: 10px;
}

.e-card__link {
  color: #0066ff;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid transparent;
  margin-top: 20px;
  -webkit-transition: border-bottom-color .15s ease-in-out;
  transition: border-bottom-color .15s ease-in-out;
}

.e-card__link:focus, .e-card__link:hover {
  border-bottom-color: #0066ff;
}
/*# sourceMappingURL=main.css.map */