.l-body {

    $self: &;

    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

    &--center {

        @include f-c-c-all;

    }

    &--h-center {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &--grid {

        display: grid;
        grid-template-columns: 50% 50%;

    }

    &--unlimit-height {

        min-height: unset;
        overflow-y: initial;

    }

    &--font {

        font-family: Arial, Helvetica, sans-serif;

    }

    &--element {

        padding: 20px;
        text-align: center;

    }

    &--overflow-y {

        overflow: unset;
        overflow-x: hidden;
        overflow-y: auto;

    }

    &--card {

        position: relative;
        background-color: white;

        & #{$self}__bg_wrap {

            width: 100vw;
            height: 100vh;

            position: absolute;
            top: 0;
            left: 0;

            z-index: -2;
            background: linear-gradient(45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
            opacity: .2;

            @include f-c-c-all;

        }

        & #{$self}__bg {

            z-index: -10;

        }

        & #{$self}__content {

            width: 100%;
            height: 100vh;

            @include f-c-c-all;

            z-index: 3;
            opacity: 1;

            color: black;

            font-family: Arial, Helvetica, sans-serif;
            text-align: center;

        }

    }

}

.l-header {

    padding: 20px 0;
    margin: 20px;
    width: 90%;

    background-color: $primary;
    border-radius: 8px;

    color: white;
    font-family: Arial, Helvetica, sans-serif;

    @include f-c-c-all;

    @media (min-width: 1200px) {

        width: 1080px;

    }

}