.l-footer {

    $self: &;

    width: 100%;

    display: grid;
    grid-template-columns: auto;
    justify-content: center;

    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    padding: 32px;

    &__box {

        @include f-c-c-all;

        width: 100%;

        #{$self}__box + #{$self}__box {

            margin-top: 30px;

        }

    }

    @media (min-width: 768px) {

        &__box {

            @include f-c-c-all;

            & + #{$self}__box {

                margin-left: 16px;
    
            }

        }

    }

    @media (min-width: 768px) {

        grid-template-columns: auto auto;

    }

}

.l-signature {

    width: 100%;
    height: 40px;

    background-color: $primary;

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    @include f-c-c-all;

}