.l-section {

    $self: &;

    width: 100%;
    height: 60vh;

    margin-top: 60px;
    background-color: transparent;

    box-shadow: 2px 4px 10px grey;

    position: relative;
    @include f-c-c-all;

    z-index: 4;

    @media (min-width: 768px) {

        height: 80vh;

    }

    &__chart {

        width: 317px;

        padding-bottom: 16px;

        @media (min-width: 576px) {

            width: 420px;

        }

        @media (min-width: 768px) {

            width: 660px;

        }

    }

    &__bg {

        width: 100%;
        height: calc(100% - 30px);


        position: absolute;
        bottom: 0;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: white;

        z-index: -1;

        &::after {

            content: '';

            position: absolute;
            bottom: 0;
            left: 0;

            width: 100%;
            height: calc(100% + 30px);

            background-color: rgba(255, 255, 255, .95);
            z-index: -2;

        }

        &--CMS {

            background-image: url('/src/svg/menu-button-wide.svg');

        }

        &--admin {

            background-image: url('/src/svg/people.svg');

        }

        &--chart {

            background-image: url('/src/svg/bar-chart-line.svg');

        }

        &--key {

            background-image: url('/src/svg//key.svg');

        }

        &--hourglass {

            background-image: url('/src/svg/hourglass-split.svg');

        }

    }

}

.anchor {

    position: relative;
    top: 0px;

    visibility: hidden;
    z-index: -1;

}