.l-100-width {

    width: 100vw;
    height: auto;
    position: relative;

    padding: 50px 0;

    overflow: hidden;

    &--center {

        @include f-c-c-all;

    }

}
.l-2-grid {

    position: absolute;
    left: 0;

    display: grid;
    grid-template-columns: auto auto;

    transition: left .4s ease-in-out;

}

.l-flex-946 {

    @include f-c-s-c;

    @media (min-width: 946px) {

        width: 90%;
        margin: auto;
        @include f-r-s-c;

        & .e-card + .e-card {

            margin-left: 20px;
    
        }

    }

}